.alerts{
    background:$ctaUnfocusedBGColor;
    color:$ctaUnfocusedFontColor;
    font-size:1.4em;
    padding:1em 0;

    .content{
        padding:0 10px;
    }

    .alert{
        .icon{
            display:inline-block;
            width:13px;
            height:13px;
            background:url($sprite) no-repeat 0 -34px;
            margin-right:.35em;
            position:relative;
            top:1px;
        }

        .dismiss{
            margin-left:.5em;
            color:#FFF;
            text-decoration:underline;
            font-size:.8em;
            display:inline-block;
        }
    }
}