/**
 * Styles for the development version of Tanguer go here. These will not affect
 * the production version of the application
 */

#debug{
    clear:both;
    padding-top:50px;
    color:#666;
    font-size:1.2em;
}

.devMode{
    background:#111;
}