/* SCSS Partial Source */

#header{
    padding:20px 10px;
    background-color:$primaryNeutralDark;
    color:$primaryNeutralLightest;

    .logo-block{
        float:left;

        .logo{
            width:100px;
        }
    }

    .nav-right{
        float:right;
    }
}

.header-decoration{
    margin-top: 3px;
    color:$primaryNeutralDark;
    height: 2px;
    background-color:$primaryNeutralDark;
    border: 0;
}



/////////////////
//MEDIA QUERIES//
/////////////////

@media #{$mq_minPhoneOrSmallTablet}{
    #header{
        padding:20px 10px 25px 10px;

        .logo-block{
            .logo{
                width:auto;
            }
        }
    }
}

@media #{$mq_minTabletPortrait}{
    #header{
        padding:20px 0 25px 0;
    }
}