.m .e-s-adv{
    form{
        padding:20px 0;
        border:smallSolidBorder($primaryNeutralDark);
        border-left:none;
        border-right:none;
    }

    label{
        text-align:center;
    }
}