
////////////////
//MODAL STYLES//
////////////////
.m-wrapper{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    &.hasBG{
        background:rgba(0,0,0,.8);
    }
}

.m{
    width:85%;
    margin:0 auto;
    background:$primaryNeutralLightest;
    padding:10px;

    h1{
        font-family:$baseApplicationTitleFontFamily;
        font-size:2.4em;
        color:$ctaTitleFontColor;
        margin:10px 0 20px 0;
    }

    h3{
        text-align:center;
        font-size:2em;
        font-family:$baseApplicationTitleFontFamily;
    }

    label{
        display:block;
        margin:10px auto 0 auto;
        vertical-align:middle;
        font-size:1.4em;
    }

    input{
        margin:0 5px;
    }

    select{
        width:100%;
    }

    .button{
        display:block;
        margin:20px auto 0 auto;
    }

    .close{
        width:25px;
        height:25px;
        position:absolute;
        top:-12px;
        right:-12px;
        background:url($sprite) no-repeat -75px 0;
        cursor:pointer;
    }
}



/////////////////
//MEDIA QUERIES//
/////////////////

@media #{$mq_minPhoneLandscape}{
    .m{
        width:65%;
        padding:30px;
    }
}

@media #{$mq_minTabletPortrait}{
    .m{
        width:600px;
        padding:50px;
    }
}