@charset "utf-8";
/* CSS Document */
html{
    padding:0;
    margin:0;
}

body{
    background:#000;
    color:#09F;
    font-family:Lato, Arial, sans-serif;
    width:auto;
}

.content{
    width:100%;
    max-width:1200px;
    margin:0px auto;
}

/**
 * CALENDAR STYLES
 */
.c{
    width:100%;
}

.c .th-list{
    width:25%;
}



/**
 * EVENT STYLES
 */
.e.th{
    color:#333;
    font-family:Lato, serif;
    cursor:pointer;
    margin-top:10px;
    width:auto;
}

.e.th:hover{
    color:#FFF;
}

.e.th .e-content{
    padding-left:60px;
    padding-right:55px;
    display:block;
}


.e.th .col-left{
    width:55px;
    margin-left:-55px;
    float:left;
    position:relative;
}

.e.th .col-center{
    width:100%;
    float:left;
    position:relative;
}

.e.th .col-right{
    width:50px;
    margin-right:-50px;
    float:left;
    position:relative;
}

.e.th .title,
.e.th .time,
.e.th .price{
    font-size:13px;
    font-weight:700;
    font-style:italic;
}

.e.th .price{
    float:right;
}

.e.th .details{
    padding-top:2px;
    clear:both;
    font-size:11px;
    font-weight:400;
    font-style:italic;
}

.e.th .organizer{
    padding-top:2px;
}

.e.th.lesson{
    background-color:#ccefff;
    border:1px solid #1f79e5;
    padding:2px;
}

.e.th.lesson:hover{
    background-color:#1f79e5;
    color:#ccefff;
}

.e.th.lesson .e-content{
    border-left:8px solid #1f79e5;
}

.e.th.lesson:hover .e-content{
    border-left:8px solid #ccefff;
}

.e.th.milonga{
    background-color: #ffd2d2;
    border:1px solid #b12f2c;
    padding:2px;
}

.e.th.milonga:hover{
    background-color:#b12f2c;
    color:#ffd2d2;
}

.e.th.milonga .e-content{
    border-left:8px solid #b12f2c;
}

.e.th.milonga:hover .e-content{
    border-left:8px solid #f7cccc;
}

.e.th.practica{
    background-color:#dbf7cc;
    border:1px solid #299428;
    padding:2px;
}

.e.th.practica:hover{
    background-color:#299428;
    color:#dbf7cc;
}

.e.th.practica .e-content{
    border-left:8px solid #299428;
}

.e.th.practica:hover .e-content{
    border-left:8px solid #dbf7cc;
}

.e.th.show{
    background-color:#fdeacc;
    border:1px solid #bf7b16;
    padding:2px;
}

.e.th.show:hover{
    background-color:#bf7b16;
    color:#fdeacc;
}

.e.th.show .e-content{
    border-left:8px solid #bf7b16;
}

.e.th.show:hover .e-content{
    border-left:8px solid #fdeacc;
}




@media only screen and (max-width:944px){

}




/**
 * LT < 480 styles
 */
@media only screen and (max-width:480px){
    body{
        padding:0;
        width:100%;
    }

    .content{
        width:auto;
        min-width:0;
        max-width:none;
    }

    .c .th-list{
        width:auto;
    }

    .e.th{
        width:auto;
        margin-top:0;
        padding:5px !important;
        border-top:none !important;
    }
}