@charset "utf-8";
/* CSS Document */

html{
    padding:0;
    margin:0;
}

body{
    padding:0;
    color:#09f;
    font-family:Lato, Arial, sans-serif;
    background:#222;
}

input{
    background-color:#333;
    color:#DEDEDE;
    padding:8px;
    border:0;
}

p{
    padding-bottom:0;
    margin-bottom:0;
}

table{
    font-size:12px;
}

.content{
    width:auto;
    min-width:0;
    max-width:none;
}

.text-left{
    text-align:left;
}

.text-right{
    text-align:right;
}

.text-center{
    text-align:center;
}



/**
 * GRID STYLES
 */
.row{
    clear:both;
}

.column.end{
    margin:0;
    padding:0;
}



/**
 * CALENDAR STYLES
 */
.c{
    width:100%;
}

.c.full-day{
    padding-top:20px;
}

.c-e-disp .banner-container{
    max-height:200px;
    overflow:hidden;
}

.c-e-disp .banner{
    width:100%;
    display:block;
}

/* Calendar event full display styles */

.c-e-disp.full .title{
    font-family:Vollkorn,Lato,Arial,sans-serif;
    font-size:24px;
    font-style:oblique;
    font-weight:bold;
    padding:30px 20px;
    color:#FFF;
    background-color:#333;
}

.c-e-disp.full .social,
.c-e-disp.full .e-data{
    padding:20px;
}

.c-e-disp.full .e-data table{
    width:100%;
}

.c-e-disp.full .e-data td.label{
    width:25%;
}

.c-e-disp.full .e-data td.content{
    width:75%;
}

.c-e-disp.full .e-data .information{
    padding-bottom:20px;
}

.c-e-disp.full .e-data .description{
    margin-top:20px;
    overflow:hidden;
}

.c-e-disp.full .lesson,
.e.th.lesson.selected .container{
    background-color:#1f79e5;
    color:#ccefff;
}

.c-e-disp.full .lesson .information{
    border-bottom:1px solid #ccefff;
}

.c-e-disp.full .lesson .e-data{
    border-top:1px solid #ccefff;
}

.c-e-disp.full .milonga,
.e.th.milonga.selected .container{
    background-color:#b12f2c;
    color:#ffd2d2;
}

.c-e-disp.full .milonga .information{
    border-bottom:1px solid #ffd2d2;
}

.c-e-disp.full .milonga .e-data{
    border-top:1px solid #ffd2d2;
}

.c-e-disp.full .practica,
.e.th.practica.selected .container{
    background-color:#299428;
    color:#dbf7cc;
}

.c-e-disp.full .practica .information{
    border-bottom:1px solid #dbf7cc;
}

.c-e-disp.full .practica .e-data{
    border-top:1px solid #dbf7cc;
}

.c-e-disp.full .show,
.e.th.show.selected .container{
    background-color:#bf7b16;
    color:#fdeacc;
}

.c-e-disp.full .show .information{
    border-bottom:1px solid #fdeacc;
}

.c-e-disp.full .show .e-data{
    border-top:1px solid #fdeacc;
}

/* Calendar event thumbnail styles*/

.c .th-list{
    width:auto;
    position:relative;
}

.e.th{
    width:auto;
    margin-top:0;
}

.e.th,
.e.th a{
    display:block;
    color:inherit;
    font-size:13px;
    font-weight:700;
    font-style:italic;
}

.e.th .container{
    position:relative;
}

.e.th .content-padding{
    padding:5px;
}

.e.th .e-content{
    padding-left:60px;
    padding-right:55px;
    display:block;
}

.e.th .col-data{
    width:100%;
    float:right;
    position:relative;
}

.e.th .labels{
    position:absolute;
    width:100%;
    margin-top:5px;
}

.e.th .col-time{
    margin-left:18px;
    float:left;
}

.e.th .col-price{
    float:right;
    margin-right:5px;
    width:50px;
    text-align:right;

}

.e.th .details{
    padding-top:2px;
    clear:both;
    font-size:11px;
    font-weight:400;
    font-style:italic;
}

.e.th .organizer{
    padding-top:2px;
}

.e.th.lesson .container{
    background-color:#ccefff;
    border:1px solid #1f79e5;
    border-top:0;
    color:#333;
}

.e.th.lesson .e-content{
    border-left:8px solid #1f79e5;
}

.e.th.lesson.selected .e-content{
    border-left:8px solid #ccefff;
}

.e.th.milonga .container{
    background-color: #ffd2d2;
    border:1px solid #b12f2c;
    border-top:0;
    color:#333;
}

.e.th.milonga .e-content{
    border-left:8px solid #b12f2c;
}

.e.th.milonga.selected .e-content{
    border-left:8px solid #f7cccc;
}

.e.th.practica .container{
    background-color:#dbf7cc;
    border:1px solid #299428;
    border-top:0;
    color:#333;
}

.e.th.practica .e-content{
    border-left:8px solid #299428;
}

.e.th.practica.selected .e-content{
    border-left:8px solid #dbf7cc;
}

.e.th.show .container{
    background-color:#fdeacc;
    border:1px solid #bf7b16;
    border-top:0;
    color:#333;
}

.e.th.show .e-content{
    border-left:8px solid #bf7b16;
}

.e.th.show.selected .e-content{
    border-left:8px solid #fdeacc;
}



/**
 * Login module styles
 */

/* Calendar login styles */
.c .login{
    text-align:center;
    background-color:#dfdfdf;
    padding:30px 20px;
    border:1px solid #333;
    border-top:none;
}

.c .login .logo{
    max-width:100%;
}

.c .login form{
    padding-top:20px;
    padding-bottom:10px;
    color:#333;
}

.c .login .row input.submit{
    float:none;
}

.c .login h2,
.c .login h3{
    color:#b12f2c;
}

.c .login h2{
    margin-top:10px;
}

.c .login h3{
    font-style:italic;
    margin:20px 0 15px 0;
}

.c .login hr{
    height:1px;
    border:0;
    background-color:#333;
}

.c .login input{
    margin-bottom:10px;
}

.c .login label{
    display:block;
    padding:8px;
    height:16px;
    font-size:13px;
    font-style:italic;
}

.c .login .submit{
    cursor:pointer;
    font-weight:900;
}

.c .login .submit:hover,
.c .login .cta{
    background-color:#b12f2c;
}

.c .login .cta-container{
    padding:2px;
    border:1px solid #b12f2c;
    display:inline-block;
}

.c .login .cta{
    color:#FFF;
    font-weight:900;
    padding:8px;
    display:block;
}



/**
 * TABLET STYLES ( width > 360 )
 */
@media only screen
and (min-width:360px){
    .col-1-2,
    .col-1-3,
    .col-2-3,
    .col-1-4,
    .col-3-4,
    .col-1-5,
    .col-2-5,
    .col-3-5,
    .col-4-5{
        float:left;
        margin-right:2%;
    }

    /* GRID STYLES */
    .col-1-2{
        width:48%;
    }

    .col-1-4{
        width:23.5%;
    }

    .col-1-5{
        width:18.4%;
    }

    .col-2-5{
        width:38%;
    }

    .col-3-5{
        width:58%;
    }

    .col-4-5{
        width:78%;
    }



    /* LOGIN MODULE */

    .c .login label{
        margin-bottom:0;
    }

    .c .login .row label{
        float:right;
    }

    .c .login .row input{
        float:left;
        min-width:25%;
        max-width:75%;
    }

    .c .login .row input.submit{
        min-width:0;
        max-width:100%;
    }
}



/**
 * Tablet portrait and above (Ipad and surface)
 */
@media only screen
and (min-width:768px){
    body{
        color:#09F;
        font-family:Lato, Arial, sans-serif;
        width:auto;
        padding:0 1%;
    }

    .content{
        width:100%;
        max-width:1200px;
        margin:0 auto;
    }



    /*EVENT STYLES*/

    .e.th{
        cursor:pointer;
        margin-bottom:10px;
        width:auto;
    }

    .e.th.lesson .container{
        border:1px solid #1f79e5;
    }

    .e.th.milonga .container{
        border:1px solid #b12f2c;
    }

    .e.th.practica .container{
        border:1px solid #299428;
    }

    .e.th.show .container{
        border:1px solid #bf7b16;
    }

    .c .th-list .e.th .container{
        margin-right:10px;
    }

    .c .th-list .e.th.selected .container{
        margin-right:0;
        border-right:0;
    }

    .c .th-list .e.th.selected .col-price{
        margin-right:16px;
    }

    .c .login{
        border-top:1px solid #333;
    }

    /* Calendar Event styles */

    .c .th-list{
        min-height:650px;
    }

    .c-e-disp.full .e{
        height:650px;
    }

    .c .th-list .e.th{
        width:26%;
        float:left;
        clear:both;
    }

    .c-e-disp{
        width:74%;
        float:right;
    }

    .c-e-disp.full .e-data .col-left{
        width:73%;
        margin-right:2%;
    }

    .c-e-disp.full .e-data .col-right{
        width:25%;
    }

    .c .th-list .c-e-disp.full{
        float:none;
        position:absolute;
        top:0;
        right:0;
    }
}



/**
 * Tablet portrait ONLY (above 768 but below 1024
 */
@media only screen
and (min-width:768px)
and (max-width:1023px){
    .e.th .e-content{
        padding-right:10px;
    }

    .e.th .col-price{
        width:55px;
        float:left;
        clear:left;
        text-align:left;
        margin-right:0;
        margin-left:18px;
    }
}



/**
 * Desktop styles (1024+)
 */
@media only screen
and (min-width:1024px){

    /* EVENT STYLES */

    .e.th.lesson:hover .container{
        background-color:#1f79e5;
        color:#ccefff;
    }

    .e.th.lesson:hover .e-content{
        border-left:8px solid #ccefff;
    }

    .e.th.milonga:hover .container{
        background-color:#b12f2c;
        color:#ffd2d2;
    }

    .e.th.milonga:hover .e-content{
        border-left:8px solid #f7cccc;
    }

    .e.th.practica:hover .container{
        background-color:#299428;
        color:#dbf7cc;
    }

    .e.th.practica:hover .e-content{
        border-left:8px solid #dbf7cc;
    }

    .e.th.show:hover .container{
        background-color:#bf7b16;
        color:#fdeacc;
    }

    .e.th.show:hover .e-content{
        border-left:8px solid #fdeacc;
    }
}



/**
 * Desktop styles (above 1212)
 */
@media only screen and (min-width:1212px){
    body{
        padding:0;
    }
}

#debug{
    clear:both;
    padding-top:50px;
    color:#666;
    font-size:12px;
}



/**
 * Complete Clear Fix
 */

/* IE5-6 */
* html .clearfix {
    height: 1%;
}

/* IE7 */
*+html .clearfix {
    display: inline-block;
}

/* All other browsers */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}