//This file is generated automatically based off the application's configuration
//and constants. It is not recommended that this file be updated manually
$URL_ASSET_BASE:"http://10.0.0.17/tanguer/asset/";
$APP_ENVIRONMENT:"test";
$APP_GUI_MODE:"dev";
