//Tanguer SCSS Mixins

@mixin calendarPickerVisualizer{
    display:none;
    position:absolute;
    z-index:2;
    background:#fff;
    border:smallSolidBorder($primaryNeutralDark);
    padding:10px 29px;
    margin-top:10px;
    font-style:italic;
    font-size:1.3em;
}

@mixin locationSelectorSelector{
    display:none;
    position:absolute;
    background:$primaryNeutralLight;
    padding:10px;
    border:smallSolidBorder($primaryNeutralDark);
    margin-top:13px;
    z-index:9999;
    right:0;
    width:200px;
}




//Event mixins
@mixin colorSchemeMilongaUnfocused{
    color:$milongaUnfocusedFontColor;
    background-color:$milongaUnfocusedBGColor;
}

@mixin colorSchemeMilongaFocused{
    color:$milongaFocusedFontColor;
    background-color:$milongaFocusedBGColor;
}

@mixin colorSchemeLessonUnfocused{
    color:$lessonUnfocusedFontColor;
    background-color:$lessonUnfocusedBGColor;
}

@mixin colorSchemeLessonFocused{
    color:$lessonFocusedFontColor;
    background-color:$lessonFocusedBGColor;
}

@mixin colorSchemePracticaUnfocused{
    color:$practicaUnfocusedFontColor;
    background-color:$practicaUnfocusedBGColor;
}

@mixin colorSchemePracticaFocused{
    color:$practicaFocusedFontColor;
    background-color:$practicaFocusedBGColor;
}

@mixin colorSchemeShowUnfocused{
    color:$showUnfocusedFontColor;
    background-color:$showUnfocusedBGColor;
}

@mixin colorSchemeShowFocused{
    color:$showFocusedFontColor;
    background-color:$showFocusedBGColor;
}